body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #141e30, #a83582);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 50px;
    text-align: center;
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
    margin-bottom: 20px;
}

.time {
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.buttons button {
    padding: 12px 25px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#start {
    background: #158f09;
    color: white;
}

#stop {
    background: #cc0d0d;
    color: white;
}

#reset {
    background: #073fda;
    color: white;
}

button:hover {
    transform: scale(1.05);
}